h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background-color: rgb(202, 30, 30);
    color:aliceblue;
}

.recipe{
    font-style: italic;
}

li{
    font-style: italic;
    background-color: rgb(255, 145, 145);
    padding: 16px;
    font-size: 24px;
    border: solid rgb(0, 0, 0) 5px;
    margin: 10px;
}
